*, *::before, *::after {
  box-sizing: border-box;
}
*, html, body, h1, h2, h3, h4, p, ul, li{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#181818;
}


.header .logo{
  position: fixed;
  top:5px;
  left:50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.header .logo a{
  display: inline-block;
  width: 200px;
  height: 74px;
  line-height: 74px;  
}

.gnb{
  position: fixed;
  top: 15px;
  left: 100px;
  display: flow-root;
}
.gnb li{
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
}
.gnb li a{
  display: inline-block;
  padding:0 15px;
  font-size: 14px;
}

.member{
  position: fixed;
  top: 15px;
  right: 100px;
  display: flow-root;
}
.member li{
  float: left;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
}
.member li a{
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
}

ul.lnb{
  text-align: center;
  margin-top: 80px;
}
ul.lnb li{
  display: inline-block;
}
ul.lnb li a{
  display: inline-block;
  padding:0px 10px;
  font-size: 13px;
}


.main{
  max-width: 1200px;
  margin:40px auto 0 auto;
}
.category{
  text-align: center;
  margin-bottom:20px;
}
.category li{
  display: inline-block;
}
.category li a{
  margin:0 8px;
  font-size: 13px;
}
.category li.line{
  font-size: 0;
  width: 30px;
  height: 1px;
  line-height: 9px;
  background-color: #181818;  
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.product-list li{
  width: 33%;
  margin: 0 2px 50px 2px;
  text-align: center;
}
.product-list li img{
  width: 100%;
  max-width: 356px;
}
.product-list p{
  font-size: 13px;
}
.product-list .price{
  font-size: 13px;
  color:#9e9e9e;
}
.product-list li:last-child{
  align-self: flex-start;
}

.paginate{
  margin: 50px auto 0 auto;
  text-align: center;
}
.paginate li{
  display: inline-block;
}
.paginate li .btn{
  display: inline-block;
  width:30px; height: 30px;
  line-height: 30px;
  color: #9e9e9e;
  font-size:13px;
}
.paginate li .active{
  color: #181818;
  border-bottom:1px solid #181818;
}

.footer{
  margin-top: 100px;
  min-height: 300px;
}
.footer .sub-menu{
  text-align: center;
  margin-bottom: 40px;
}
.footer .sub-menu li{
  display: inline-block;
  margin: 0 10px;
}
.footer .sub-menu a{
  font-size: 13px;
}
.footer p{
  text-align: center;
}
.footer .tel-number{
  margin-bottom:16px;
}
.footer .company-info{
  color: #777777;
  font-size: 12px;
  line-height: 1.6;
}
